/* App.css */
.navbar {
    background-color: #f0f0f0; /* Color de fondo del navbar */
    width: 100%;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: grey;
}

.navbar ul li a.active {
    font-weight: bold;
    color: black; /* Color del enlace activo */
}

.navbar ul li button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: grey;
}

.navbar ul li button:hover {
    font-weight: bold;
    color: black; /* Color del botón al pasar el mouse */
}
