/* src/index.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  nav {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
  }
  
  nav .brand-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 1em;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&family=Sriracha&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 40s linear infinite;
}

/* smooth scrolling */
html {
  scroll-behavior: smooth;
}
